.container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 2rem;
}

label {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 0.5rem;
}

input {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.btn {
  font-size: 1.2rem;
  background-color: #8c3;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: #b44;
}

.result {
  font-size: 1.5rem;
  margin-top: 2rem;
}
