*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color : antiquewhite;
}

#welcomeContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
  gap: 3vh;
}

#imgPoud{
  background-image: url(img/poud.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(5px);
  position: absolute;
  top: 0;
  z-index: -1;
}


#welcomeBtn {
  font-size: 1.2rem;
  background-color: #8c3;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}


















#seeSchoolDiv {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: -2;
}

.form-group {
  margin-bottom: 2rem;
}

label {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 0.5rem;
}

input {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.btn {
  font-size: 1.2rem;
  background-color: #8c3;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: #b44;
}

.result {
  font-size: 1.5rem;
  margin-top: 2rem;
}
